<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WEBSITE QUẢN LÝ SÁCH</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div style="width: 100%;text-align: center;">
            <a href="#" class="navbar-brand">TRANG CHỦ WEBSITE QUẢN LÝ SÁCH - KẾT NỐI CSDL
                MYSQL</a>
        </div>
    </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>